.root {
    background-color: whitesmoke;
    padding: 10px;
    padding-top:20px;
}

.actionButtons {
    text-align: center;
    align-content: center;
    padding-top: 20px;
}

.dataAlignRight {
    text-align: right;
}

.dataTable {
    min-width: 450px;
}

.dataTableHeader {
    background-color: lightgray;
    /*color: azure;*/
    font-weight: bold;
    font-size: 20px;
}
